.additional-goods {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 280px;
}

.additional-goods__title {
  position: relative;
  width: 240px;
  margin: 24px 0 0;
  padding: 4px 0 34px;
  background: white;
  border-bottom: 1px solid @dark-gray;
  text-transform: none;
  line-height: 24px;


  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    top: 18px;
    left: 0;
    height: 3px;
    background: @green;
    z-index: -1;
  }
}

.additional-goods__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .list-reset;
  margin-bottom: 40px;
}

.additional-goods__parameters {
  display: flex;
  justify-content: space-between;

  width: 280px;
  margin-bottom: 15px;
}

.additional-goods__volume {
  padding-right: 100px;
}

.additional-goods__price {
  margin-left: 10px;
  text-align: right;
}

.additional-goods__item {
  line-height: 14px;
  border-bottom: 1px solid @dark-gray;
}

.additional-goods__item-title {
  display: flex;
  text-transform: uppercase;
  text-align: left;

  margin: 11px 0;
}

.additional-goods__button {
  display: block;
  margin-bottom: 17px;
}

.additional-goods__offer {
  min-height: 289px;
  background-color: @green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px auto;
  background-position: center top;
  border-top: 1px solid transparent;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.additional-goods__offer-text {
  position: relative;
  width: 174px;
  padding: 0;
  margin: 185px auto 43px;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
}

.additional-goods__offer-text::before {
  position: absolute;
  content: "";
  top: -122px;
  left: 35%;
  align-content: center;
  width: 55px;
  height: 60px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .additional-goods {
    width: 768px;
  }

  .additional-goods__title {
    width: 413px;
    padding: 12px 0 34px 39px;
    margin: 20px 0 52px 27px;
    border-bottom: 0 none;

    &::before {
      top: 29px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      top: 29px;
      right: 0;
      height: 3px;
      background: @green;
      z-index: -1;
    }
  }

  .additional-goods__wrapper {
    width: 708px;
    margin: 0 30px;
  }

  .additional-goods__list {
    margin-bottom: 67px;
  }

  .additional-goods__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 140px;
    padding: 15px 36px;
    border: 1px solid @dark-gray;
  }

  .additional-goods__item-title {
    min-width: 240px;
  }

  .additional-goods__parameters {
    display: flex;
    justify-content: flex-end;

    width: 280px;
    margin-bottom: 24px;
    padding-top: 19px;
  }

  .additional-goods__volume {
    padding-right: 41px;
  }

  .additional-goods__price {
    margin-left: 10px;
    text-align: right;
  }

  .additional-goods__button {
    flex-grow: 1;
  }
}

@media (min-width: @tablet-width) and (max-width: 1299px) {
  .additional-goods__offer {
    min-height: 200px;
    background-color: @green;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 708px 200px;
    background-position: center top;
    border-top: 1px solid transparent;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
  }

  .additional-goods__offer-text {
    position: relative;
    width: 163px;
    padding: 0;
    margin: 70px auto 43px;
    text-align: left;
    margin-right: 122px;

    &::before {
      position: absolute;
      top: -5px;
      left: -332px;
    }
  }
}


@media (min-width: @desktop-width) {
  .additional-goods {
    width: 1300px;
  }

  .additional-goods__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin: 0 40px 85px;
  }

  .additional-goods__title {
    width: 413px;
    margin: 17px 0 46px;
    padding-left: 40px;
    line-height: 36px;

    &::before {
      top: 32px;
    }

    &::after {
      top: 32px;
    }
  }

  .additional-goods__list {
    margin-bottom: 0;
  }

  .additional-goods__item {
    flex-wrap: nowrap;
    height: auto;
    padding: 11px 0 17px;
    border-left: none 0;
    border-right: none 0;
  }

  .additional-goods__item-title {
    min-width: 325px;
  }

  .additional-goods__parameters {
    justify-content: start;
    width: 300px;
    margin: 0 25px 0 0;
  }

  .additional-goods__volume {
    width: 235px;
    padding-right: 0;
  }

  .additional-goods__button {
    flex-grow: 0;
    min-width: 245px;
    margin: 0;
  }

  .additional-goods__offer {
    min-height: 289px;
    min-width: 245px;
    background-size: 289px auto;
    background-position: center top;
    border-top: 1px solid transparent;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
      background-size: 289px auto;
    }
  }
}
