.button {
  display: block;
  text-align: center;
  border: none;
  }

.button--green {
  background-color: @green;
  color: @white;
}

.button--green:hover,
.button--green:focus {
  background-color: @dark-green;
}
.button--gray {
  padding: 10px 0;
  background-color: @gray;
}
