.catalog {
  overflow-x: hidden;
}

.catalog__container {
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  margin: 14px 0 27px 20px;
}

.catalog__list {
  .list-reset();
  padding-inline-start: 0;
}

.catalog__name {
  margin: 20px 0 13px 0;
  width: 80px;
  text-align: left;
}

.catalog__link {
  text-decoration: none;
  color: inherit;
}

.catalog__table {
  width: 140px;
  border-collapse: collapse;
  margin-bottom: 21px;
}

.catalog__item {
  border-top: 1px solid @dark-gray;

  &:last-child {
    border-bottom: 1px solid @dark-gray;
  }
}

.catalog__item-container {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}

.catalog__img {
  display: block;
}

.catalog__item-field,
.catalog__item-value {
  font-size: 12px;
  line-height: 14px;
}

.catalog__item-value {
  text-align: right;
}

.catalog__button {
  // padding-top: 10px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-decoration: none;
}

/*Блок показать больше*/

.catalog__more {
  margin: 0 auto;
  padding-top: 80px;
  border: 1px solid #ededed;
  width: 320px;
}

.catalog__more-title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    bottom: 43px;
    left: 159px;
    width: 2px;
    height: 30px;
    background-color: #ededed;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 57px;
    left: 145px;
    width: 30px;
    height: 2px;
    background-color: #ededed;
  }
}

.catalog__more-description {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.catalog__more-button {
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 10px;
  background-color: @gray;
  text-decoration: none;
  color: #444444;

  &:hover,
  &:focus {
    background-color: @dark-gray;
  }

  &:active {
    background-color: @dark-gray;
    color: @black-opacity30;
  }
}


/*Планшетная версия*/

@media (min-width: @tablet-width) {
  .catalog__container {
    width: 768px;
  }

  // ok

  .catalog__title {
    margin-left: 30px;
    margin-bottom: 165px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: -101px;
    width: 708px;
  }

  .catalog__item {
    margin-bottom: 140px;
    border-top: 0 none;
  }

  .catalog__item-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    width: 324px;
    background-color: @gray;
  }


  .catalog__img-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-height: 210px;
    margin-top: -85px;
    margin-bottom: 37px;
  }

  .catalog__img {
    width: 100%;
    max-width: 324px;
    height: auto;
  }

  .catalog__name {
    margin: 0 auto;
    margin-bottom: 18px;
    width: 130px;
    text-align: center;
  }

  .catalog__table {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 250px;
  }

  .catalog__table tr {
    height: 32px;
    border-bottom: 1px solid @dark-gray;
  }

  .catalog__item-field,
  .catalog__item-value {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog__button {
    margin-bottom: 40px;
    padding: 10px 0;
    min-width: 249px;
    font-size: 16px;
    line-height: 20px;
  }

  .catalog__item-button {
    min-width: 249px;
  }

  /*Блок показать больше*/

  .catalog__more {
    margin: 0;
    margin-bottom: 140px;
    padding-top: 163px;
    // height: 432px;
  }

  .catalog__more-title {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 140px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: -109px;
      left: 69px;
      height: 60px;
    }

    &::after {
      top: -80px;
      left: 41px;
      width: 60px;
    }
  }

  .catalog__more-description {
    margin-bottom: 83px;
    width: 170px;
    font-size: 16px;
    line-height: 20px;
  }

  .catalog__more-button {
    margin-bottom: 40px;
    padding: 10px 0;
    min-width: 249px;
    font-size: 16px;
    line-height: 20px;
  }
}

/*Десктопная версия*/

@media (min-width: @desktop-width) {
  .catalog__container {
    width: 1220px;
  }

  .catalog__title {
    margin-bottom: 165px;
    margin-left: 0;
  }

  .catalog__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .catalog__list {
    width: 1220px;
    justify-content: space-between;
    margin-bottom: -92px;
  }

  .catalog__item-container {
    width: 245px;
  }

  .catalog__table {
    width: 169px;
  }

  .catalog__button {
    min-width: 169px;
  }

  /*Блок показать больше*/
  .catalog__more {
    width: 245px;
    padding: 163px 37px 0;
  }

  .catalog__more-button {
    min-width: 169px;
  }
}
