.catalog-item {
  margin: 20px;

  list-style: none;
  text-align: center;

  border-bottom: 1px solid @dark-gray;
}

.catalog-item__specifics {
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 16px;
}
