.form-page {
  margin: 0 auto;
  width: 320px;
  // overflow-x: hidden;
}

.form-page__title {
  margin: 15px 0 24px 20px;
}

.form-page__subtitle {
  margin: 0 0 40px 20px;
  .font(@title;
  14px;
  18px;
  400;
  @black);
  text-transform: uppercase;

  text-align: left;
}

.form-page__legend {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form-page {
    width: 708px;
  }

  .form-page__subtitle {
    margin: 0 0 67px 40px;
    font-size: 20px;
    line-height: 30px;
  }

  .form-page__title {
    margin: 33px 0 54px;
  }

  .form-page__legend {
    margin: -121px 135px 89px 0;
    padding-left: 385px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .form-page {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }

  .form-page__title {
    margin: 190px 0 55px;
  }

  .form-page__subtitle {
    margin: 0 0 65px 0;
  }

  .form-page__legend {
    margin: -86px 0 100px 265px;
  }
}
