.how-it-work {
  margin: 0 auto;
  width: 280px;
}

.how-it-work__wrapper {
  margin: 0;
}

.how-it-work__title {
  .mp-reset;
  margin-top: -14px;
  margin-bottom: 30px;
}

.how-it-work__list {
  position: relative;
  .list-reset;
}

.how-it-work__description {
  padding: 0 0 26px 80px;
}

.how-it-work__text {
  .mp-reset;
}

.how__br {
  display: none;
}

.how-it-work__description--healthy {
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @green;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 6px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
  }
}

.how-it-work__description--water {
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @green;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 84px;
    left: 6px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
  }
}

.how-it-work__description--food {
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @green;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 164px;
    left: 4px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
  }
}

.how-it-work__description--time {
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @green;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 244px;
    left: 5px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .how-it-work {
    width: 708px;
    margin-bottom: 50px;
  }

  .how-it-work__wrapper {
    padding-top: 0;
  }

  .how-it-work__title {
    .mp-reset;
  }

  .how-it-work__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* Временно для сетки */
    min-height: 275px;
  }

  .how-it-work__description {
    padding: 185px 52px 59px 0;
    margin-right: 83px;
    width: 300px;
    // counter-increment: step-counter;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

    .how-it-work__text {
      font-size: 16px;
      line-height: 24px;

    &--one {
      &::after {
        content: "1";
        position: absolute;
        z-index: -1;
        left: 118px;
        top: 73px;

        .font(@title;
        280px;
        200px;
        400;
        #f2f2f2);
      }
    }

    &--two {
      &::after {
        content: "2";
        position: absolute;
        z-index: -1;
        left: 497px;
        top: 73px;

        .font(@title;
        280px;
        200px;
        400;
        #f2f2f2);
      }
    }

    &--three {
      &::after {
        content: "3";
        position: absolute;
        z-index: -1;
        left: 113px;
        top: 390px;

        .font(@title;
        280px;
        200px;
        400;
        #f2f2f2);
      }
    }

    &--four{
      &::after {
        content: "4";
        position: absolute;
        z-index: -1;
        left: 495px;
        top: 390px;

        .font(@title;
        280px;
        200px;
        400;
        #f2f2f2);
      }
    }
  }

  // .how-it-work__text {
  //   font-size: 16px;
  //   line-height: 24px;

  //   &::before {
  //     content: counter(step-counter);
  //     position: relative;
  //     z-index: -1;
  //     left: 117px;
  //     top: -154px;

  //     .font(@title;
  //     280px;
  //     200px;
  //     400;
  //     #f2f2f2);
  //   }
  // }

  .how__br {
    display: initial;
  }

  .how-it-work__description--healthy {
    &::before {
      content: "";
      top: 72px;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";
      top: 87px;
      left: 15px;
      width: 50px;
      height: 50px;
    }
  }

  .how-it-work__description--water {
    &::before {
      content: "";
      top: 72px;
      left: 380px;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";
      top: 85px;
      left: 397px;
      width: 50px;
      height: 50px;
    }
  }

  .how-it-work__description--food {
    &::before {
      content: "";
      top: 389px;
      left: 384px;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";
      z-index: 2;
      top: 402px;
      left: 14px;
      width: 50px;
      height: 50px;
    }
  }

  .how-it-work__description--time {
    &::before {
      content: "";
      top: 389px;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";
      z-index: 2;
      top: 402px;
      left: 398px;
      width: 50px;
      height: 50px;
    }
  }
}

@media (min-width: @desktop-width) {
  .how-it-work {
    width: 1220px;
    margin-bottom: 24px;
  }

  .how-it-work__wrapper {
    min-height: 375px;
  }

  .how-it-work__list {
    display: flex;
    flex-wrap: nowrap;
  }

  .how-it-work__description {
    padding: 184px 0 0 0;
    margin-right: 78px;
    width: 250px;

    &:nth-child(2n) {
      margin-right: 78px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .how-it-work__text {

    &--one {
      &::after {
        content: "1";
        position: absolute;
        z-index: -1;
        left: 118px;
        top: 73px;

        .font(@title;
        281px;
        200px;
        400;
        #f2f2f2);
      }
    }

    &--two {
      &::after {
        content: "2";
        position: absolute;
        z-index: -1;
        left: 435px;
        top: 73px;

        .font(@title;
        281px;
        200px;
        400;
        #f2f2f2);
      }
    }

    &--three {
      &::after {
        content: "3";
        position: absolute;
        z-index: -1;
        left: 763px;
        top: 73px;

        .font(@title;
        281px;
        200px;
        400;
        #f2f2f2);
      }
    }

    &--four{
      &::after {
        content: "4";
        position: absolute;
        z-index: -1;
        left: 1090px;
        top: 73px;

        .font(@title;
        281px;
        200px;
        400;
        #f2f2f2);
      }
    }
  }

  .how-it-work__description--healthy {
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 71px;
      width: 80px;
      height: 80px;
      background-color: @green;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      z-index: 2;
      top: 87px;
      left: 14px;
      width: 50px;
      height: 50px;
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
    }
  }

  .how-it-work__description--water {
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 71px;
      left: 324px;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 85px;
      left: 339px;
    }
  }

  .how-it-work__description--food {
    &::before {
      content: "";
      top: 71px;
      left: 650px;
    }

    &::after {
      content: "";
      top: 86px;
      left: 662px;
    }
  }

  .how-it-work__description--time {
    &::before {
      content: "";
      top: 71px;
      left: 974px;
    }

    &::after {
      content: "";
      top: 86px;
      left: 988px;
    }
  }
}
