//*Принудительное наследование Бордербокс*//
// *, *!:before, *!:after {
//   box-sizing: inherit;
//  }
//  html {
//   box-sizing: border-box;
//  }
//  .content-box-component {
//   box-sizing: content-box;
//  }


.page {
  margin: 0;
  padding: 0;

  font-family: @main-font;
  font-size: 14px;
  line-height: 18px;
  color: @gray-text;

  background-color: @white;
}

a {
  text-decoration: none;
}

.heading2 {
  font-family: @title;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @black;
}

.heading3 {
  font-family: @title;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @black;
}

.heading4 {
  font-family: @title;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @black;


 }

//* Button less*//
.button {
  font-family: @title;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;

  text-align: center;
  color: @white;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: @green;
  border: none;
}

.button:active {
  color: @white-opacity30;
}

.button:hover,
.button:focus {
  background-color: @dark-green;
}

.button--gray {
  font-family: @title;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;

  text-align: center;
  color: @gray-text;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: @gray;
  border: none;
}

.button--gray:hover,
.button--gray:focus {
  color: @gray-text;
  background-color: @dark-gray;
}

.button--gray:active {
  color: @gray-text-opacity30;
  background-color: @dark-gray;
}

// main-nav
.heading4 {
  font-family: @title;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;

  text-transform: uppercase;
  color: @black;
 }

