@media (max-width: 767px) and (min-width: @desktop-width) {
  .page-main__banner {
    width: 100%;
    background-color: linear-gradient(to right, transparent 50%, #65a93c 50%);
  }
}

@media (min-width: @tablet-width) {
  .page-main__banner{
    background: none;
  }
}


// .page-main__banner {
//   background-image: url("../img/index-background-mobile@1x.jpg");
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center top;
//   background-color: linear-gradient(@green 305px, transparent 305px);

//   @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
//     background-image: url("../img/index-background-mobile@2x.jpg");
//     background-size: 320px auto;
//   }
// }

// @media (min-width: @tablet-width) {
//   .page-main__banner{
//     background: none;
//   }
// }

// @media (min-width: @desktop-width) {
//   .page-main__banner {
//     background: none;
//     margin-top: -110px;
//     margin-bottom: 29px;
//   }
// }
// // background-color: linear-gradient(to right, transparent 50%, #65a93c 50%);
