
@media (max-width: 767px) and (min-width: @desktop-width) {
  .page-main__banner {
    width: 100%;
    background-color: linear-gradient(to right, transparent 50%, #65a93c 50%);
  }
}

@media (min-width: @tablet-width) {
  .page-main__banner {
    background: none;
  }
}
