.pages-list__item {
  padding: 14px 0;
  list-style: none;

  font: inherit;
  text-align: center;
  color: @black;
  vertical-align: middle;

  font-size: 20px;
  line-height: 20px;
  font-family: @title;
  font-weight: 500;
  text-transform: uppercase;

  background-color: @white;
  border-bottom: 1px solid @dark-gray;

  &:hover {
    color: @black-opacity60;
  }

  &:active {
    color: @black-opacity30;
  }
}
