
.program-item {
  padding: 22px;
  margin-bottom: 22px;

  list-style: none;

  background-color: @gray;
}

.program-item__link {
  font-family: @title-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  color: @black;
}
// .program-item__title {
//   &--slim {
//     content: "";
//     background-image: url(img/icon-cat-slim.svg);
//     background-size: 35px auto;
//   }

//   &--pro {
//     content: url(img/icon-cat-pro.svg);
//   }
// }
