.social {
  width: 100%;
  border-bottom: 1px solid @dark-gray;
  border-top: 1px solid @dark-gray;
}

.social__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 5px;

  &:nth-child(2n) {
    margin-right: 9px;
  }
}

.social__link {
  fill: #666666;

  &:hover,
  &:focus {
    fill: @green;
  }

  &:active {
    fill: @green;
    fill-opacity: 0.3;
  }
}

.social__list {
  .list-reset;
  margin: 0 auto;
  width: 280px;
  padding: 4px 71px 0 73px;
  min-height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .social {
    border-bottom: 0;
    border-top: 0;
  }

  .social__list {
    padding: 2px 67px 0 78px;
  }

  .social__item {
    &:nth-child(2n) {
      margin-right: 5px;
    }
  }

  .social__link {
    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }
}
